// Group section
@import "styles.less";

#main-group--editable {
	display: none;
}

.profile-section {
	background: white;
	position: relative;
	top: 40px;
	left: 20px; 
	max-width: 60%;
	padding: 10px 10px 16px 10px;
	border: 1px solid @main-color;
	
	.profile-image {
		max-width: 100%;
	}
	
	.btn.join-btn {
		background-color: @main-button-color;
		color: @main-button-text;
		box-shadow: 2px 2px 8px #888888; 

		&:focus,
		&:hover {
			background-color: @main-button-hover;
			color: @main-button-text;
		}
}
}

.main-group {

	.info-panel {
		margin-left: 20px;
		margin-top: 10px;

		.title {
			font-size: 32px;
			font-weight: 600;
			font-family: Lora;
			padding-top: 20px;
		}

		.handle {
			color: @handler-color;
			font-size: 18px;
			font-family: Raleway;
		}

		.description {
			margin-top: 10px;
			font-size: 14px;
			font-family: Raleway;
			padding-bottom: 40px;

			textarea {
				height: 130px;
				line-height: 2em;
			}
		}
	}

	
	.group-membership {
		margin-top: 20px;
	}
	
}

.main-group--members {
	font-family: Lora;
	font-size: 26px;
	padding-top: 80px;
	padding-bottom: 10px; 
	padding-left: 20px;
}

.group-member {
	display: flex;
	justify-content: flex-start;
	margin-top: 5px;
	font-family: Raleway;
	padding-left: 20px;

	.info {
		display: flex;
		flex-direction: column;
		margin-left: 8px;
		margin-top: 8px;
		overflow: hidden;
		white-space: nowrap;

		.display-name {

			a {
				color: @name-color;
				font-weight: 600;

				div {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.user-name {

			a {
			 color: @handler-color;
			 font-size: 12px;
			 overflow: hidden;
			 text-overflow: ellipsis;

				div {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	div.icon {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	img.icon {
		border-radius: 50%;
		width: 48px;
		height: 48px;
		border: 1px solid @main-color;
	}
}

.actions {
	  margin-top: 10px;
	  display: flex;
	  justify-content: center;
	  font-family: Raleway;
  }

.reading-panel {
	background: white;
	max-height: auto;
	border-bottom: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;

	.title-reading {
		font-family: Lora;
		font-size: 22px;
		padding-top: 50px;
	}

  	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 8px;
		margin-left: 8px;
	
		font-family: Raleway;
		font-size: 14px;
		padding-bottom: 20px;
  }
	
	.book-image {
		max-width: 60%;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	.what_else {
		font-family: Raleway;
		font-size: 12px;
		position: absolute;
		bottom: 10px;
		text-align: center;
		color: black;
  		border-bottom: 0px none;
	}
}

.comment-area {
	max-width: 600px;
}

.actions-container {
	position: relative;
  	right: 15px;
	font-family: Raleway;
}

.group-wishlist {
  //

  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .section-name {
    margin-top: 8px;
    margin-left: 12px;
    font-size: 16px;
  }

  .selected-book {
    .book {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      margin-right: 8px;

      .info {
        .title {
          text-decoration: none;
          font-size: 16px;

          &:focus,
          &:hover {
            text-decoration: none;
          }
        }

        .author {
          font-size: 14px;
          a {
            text-decoration: none;
          }
        }
      }

      .icon {

        img {
          height: 80px;
        }
      }
    }
  }

  .what_else_list {
    margin-top: 8px;
    
	  .selected {
      background-color: #e4e4e4;
    }
    //
    .book {
      display: flex;
      border-top: 1px solid #e4e4e4;

      .info {
        display: flex;
        flex-direction: column;
        margin-left: 8px;

        .title {
          font-size: 14px;
          margin-top: 5px;
          margin-bottom: 4px;
        }

        .author {
          font-size: 10px;
        }
      }

      .icon {
		width: 100%;
		height:auto;
        margin: 2px;
        margin-right: 0;
        }
      }
    }
  }

