
.main-user {
  display: flex;
  padding: 25px;

  @media @phone {
    flex-direction: column;
  }

  .currently-reading {
    margin-top: 20px;
    margin-left: 6px;

    .controls {
      text-align: center;
    }

    .book-list {
      margin-left: 8px;
      text-align: left;
    }

    .description {
      font-size: 14px;
      //
    }
    .book {
      display: flex;
      margin-top: 10px;
      .info {
        @media @phone {
          text-align: left;
        }
        margin-left: 10px;
        .title {
          min-width: 120px;
          max-width: 480px;
          font-size: 14px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .icon {
        img {
          height: 80px;
          width: initial;
          border-radius: 0%;
        }
      }
    }
  }

  .info {

    width: 100%;
    margin-left: 18px;

    @media @phone {
      text-align: center;
      margin-left: 0px;
    }

    .username {
      font-size: 16px;
      color: @handler-color;
    }

    .display-name {
      font-weight: 500;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: @name-color;
    }
  }

  .icon {
    img {
      height: 160px;
      width: 160px;
      border-radius: 50%;
    }
  }
}

.user-prologes {
  display: flex;
  flex-wrap: wrap;

  .prologe {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    padding: 15px;
    width: 90%;
    align-self: center;

    .content {
      margin-left: 10px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .prologue {
        flex-grow: 1;
        text-align: justify;
      }

      .title {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .rating {
        margin-top: 8px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .icon {
      align-self: flex-start;
      img {
        height: 100px;
      }
    }
  }
}