
<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet/less' href='../css/styles.less'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/prologes/img/favicon.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<!-- NAVBAR -->
<header class="header">
	<nav role="navigation" class="navbar navbar-custom navbar-default navbar-fixed-top">
	<div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	      </button>
	      <a href="#" class="navbar-brand-image"><img src="../img/prologes.png" class="navlogo logo"/></a>
	  </div>
	  <!-- Collection of nav links, forms, and other content for toggling -->
	  <div id="navbarCollapse" class="collapse navbar-collapse">
	      
	      <ul class="nav navbar-nav navbar-right">
		<li class='dropdown'>
			<a data-toggle='dropdown' class='dropdown-toggle' href='#'>
				<div class='lang-selector'>
					EN				</div>
			</a>
			<ul role='menu' class='dropdown-menu'>
				<li>
					<a href="#">English</a>
					</li>
				<li>
					<a href="#">Español</a>
					</li>
			</ul>
		</li>

		<li>
	    <form role="search" class="navbar-form navbar-right" action="/prologes/search">
	        <div class="input-group">
	          <input type="text" placeholder="Search" name="q" class="form-control input-sm">
	        	<span class="input-group-btn">
							<button class="btn btn-default input-sm" type="submit">
								<span class="fas fa-search"></span>
							</button>
	        	</span>
	        </div>
	    </form>
		</li>
	      
	          <!-- NOT LOGGED IN -->
	          			<li><a href="/prologes/login">Log in</a></li>
		<!-- LOGGED IN -->
		        </ul>
	  </div>
	  </div>
	</nav>
</header>

<!-- MAIN BODY -->
<div class="container">

	<!-- Left/Main -->
	<div class="col-md-9 no-padding">
		<div class="row">
			<div class="cold-sm-12">
				<section class="main-group" id="main-group--editable">
					<div class="icon-panel">
						<div class="icon">
							<div class="" style="position:relative">
								<div class="edit-button cancel-edit" id="cancel-edit" tabindex='0' role='button'>
									<i class="fas fa-times edit-icon"></i>
								</div>
								<img alt="Group icon" id="club-icon" src="/prologes/img/user_clear.png">
							</div>
							<!-- <img alt="Group icon" id="group-icon" src="/prologes/img/user_clear.png"> -->
						</div>
						<div id="edit-icon--buttons" class="change-icon actions"></div>
						<div id="edit-club--buttons" class="edit-club actions"></div>
					</div>
					<div class="info-panel">
						<div class="">
							<!-- -->
							<div class="title editable" id="club-title--editable">
							</div>
							<div class="handle" id="club-handle--editable">
								<span>@theHandleOfTheGroup<span>
							</div>
							<div class="description editable" id="club-description--editable">
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
			<div class="col-md-3 no-padding main-group--left-panel">
				<!-- Group info -->
				<section class="main-group" id="main-group--icon">
					<div class="icon-panel">
						<!-- Here the icon and join button-->
						<div class="icon">
							<div class="" style="position:relative">
								<div class="edit-button" id="edit-icon" tabindex='0' role='button'>
									<i class="fas fa-pen edit-icon"></i>
								</div>
								<img alt="Group icon" id="club-icon" src="/prologes/img/user_clear.png">
							</div>
							<!-- <img alt="Group icon" id="group-icon" src="/prologes/img/user_clear.png"> -->
						</div>
						<div class="group-membership">
							<!-- Info on your membership/buttons to join or request invitation -->
							<button class="btn hover-button">
								<span class="unfocused-text">MEMBER</span>
								<span class="focused-text">LEAVE</span>
							</button>
						</div>
					</div>
				</section>
				<!-- Members -->
				<section>
					<h2 class="main-group--members">Members</h2>
					<div class="group--members" id="main-group--members">
						<!-- Sample member style -->
						<div class="group-member">
							<div class="icon">
								<img class="icon" src='../img/user_clear.png'>
							</div>
							<div class="info">
								<span class="display-name"><a href="#"><div>User with long long name</div></a></span>
								<span class="user-name"><a href="#"><div>@mrIHaveAReallyLongName</div></a></span>
							</div>
						</div>

						<div class="group-member">
							<div class="icon">
								<img class="icon" src='../img/user_clear.png'>
							</div>
							<div class="info">
								<div class="display-name"><a href="#"><div>Average user X</div></a></div>
								<span class="user-name"><a href="#"><div>@yourAverageUser</div></a></span>
							</div>
						</div>

						<div class="group-member">
							<div class="icon">
								<img class="icon" src='../img/user_clear.png'>
							</div>
							<div class="info">
								<div class="display-name"><a href="#"><div>Normal user</div></a></div>
								<span class="user-name"><a href="#"><div>@mrShortName</div></a></span>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Main content (comments) -->
			<div class="col-md-9 no-pad-right">
				<!-- <div class="editable-area">
					<div class="wrapper">
						<input type="text" class="title" value="The club name">
					</div>
					<button class="btn action-btn-green">Save</button>
				</div> -->
				<section class="main-group" id="main-group--info">
					<!-- Here the group info -->
					<div class="info-panel">
							<!-- -->
							<div class="title" id="club-title">
								<span>The Club's Name</span>
							</div>
							<div class="handle">
								<span>@theHandleOfTheGroup<span>
							</div>
							<div class="description" id="club-description">
								<p>A lengthy description</p>
								<p>That may span multiple lines</p>
								<p>Or not...</p>
								<p>That may span multiple lines</p>
								<p>Or not...</p>
								<p>That may span multiple lines</p>
								<p>Or not...</p>
								<p>That may span multiple lines</p>
								<p>Or not...</p>
							</div>
						</div>
				</section>

				<section>
					<div class="comment-area">
						<div class="comment-form">
							<div class="textarea-container">
								<textarea id="comment--textarea" placeholder="Write a comment..."></textarea>
								<div class="error-area" id="comment--error-area"></div>
							</div>
							<div class="actions-container">
								<button type="button" class="btn main-btn" id="comment--submit">Post</button>
							</div>
						</div>
						<!--  -->
					</div>

					<div class="main-group--threads" id="main-group--threads">
						<!-- Here be the past threads -->
					</div>
				</section>
			</div>
	</div>
			
	<!-- Right panel (books panels: reading|wishlist|read) -->
	<div class="col-md-3 no-pad-right">

		<!-- Tab panel -->
		<div class="side-tab-panel">
			<div class="">
				<ul class="nav nav-tabs nav-fill">
					<li class="active"><a href="#tab-reading" data-toggle="tab" id="tab-reading--anchor">Reading</a></li>
					<li><a href="#tab-wishlist" data-toggle="tab" id="tab-wishlist--anchor">Wishlist</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<!-- -->
				<div id="tab-reading" class="tab-pane active fade in">
					<!-- Currently reading-->
					<div class="current-reading">
						<div class="icon">
							<img src="../img/book_clear.png">
						</div>
						<div class="info">
							<a href="#">Title of the book</a>
							<span class="author">Author</span>
						</div>
						<div class="actions">
							<button class="btn main-btn">Finish</button>
						</div>
					</div>
				</div>
				<div id="tab-wishlist" class="tab-pane fade">
					<!-- Wishlist-->
						
					<div class="group-wishlist">
						<div class="selected-book">
							<div class="book">
								<div class="icon">
									<img src="../img/book_clear.png">
								</div>
								<div class="info">
									<a href="#" class="title">Title of the selected book</a>
									<span class="author"><a href="#">Author 1</a>, <a href="#">Author 2</a></span>
								</div>
							</div>
							<div class="actions">
								<button class="btn main-btn">Move to reading</button>
							</div>
						</div>
						<!-- -->
						<div class="section-name">
							<span>From the wishlist</span>
						</div>
						<div class="list">
							<!-- upcoming books in the wishlist -->
							<div class="book">
								<div class="icon">
									<img src="../img/book_clear.png">
								</div>
								<div class="info">
									<span class="title">Title of the book</span>
									<span class="author">Author 1, Author 2</span>
								</div>
							</div>
							<!-- Sample books -->
							<div class="book">
								<div class="icon">
									<img src="../img/book_clear.png">
								</div>
								<div class="info">
									<span class="title">Title of the book</span>
									<span class="author">Author 1, Author 2</span>
								</div>
							</div>
							<!-- Sample books -->
							<div class="book">
								<div class="icon">
									<img src="../img/book_clear.png">
								</div>
								<div class="info">
									<span class="title">Title of the book</span>
									<span class="author">Author 1, Author 2</span>
								</div>
							</div>
							<!-- Sample books -->
							<div class="book">
								<div class="icon">
									<img src="../img/book_clear.png">
								</div>
								<div class="info">
									<span class="title">Title of the book</span>
									<span class="author">Author 1, Author 2</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
				
		</div> 
		<!-- First reading -->
	</div>

</div>

<!-- FOOTER -->
<footer>
	<div class="container">
		<h5>Prologes &copy; 2016 
			<ul class="pull-right list-inline">
				<li><a href="about">About us</a></li>
				<li><a href="privacy">Terms and privacy</a></li>
			</ul>
		</h5>
	</div>
</footer>
</body>
</html>
<script>
var club = {
	displayName: 'The Club\'s Name',
	description: 'A lengthy description\nThat may span multiple lines\nOr not...',
	icon: '../img/user_clear.png'
};

function setBookInfo(displayName, clubName, description, icon) {
	if(displayName !== null) {
		var name = $('<h1></h1>', {}).append(document.createTextNode(displayName));
		$('#club-title').empty().append(name);
	}
	if(clubName !== null) {
		var handle = $('<span></span>', {}).append(document.createTextNode('@' + clubName));
		$('#club-handle').empty().append(handle);
	}
	if(description !== null) {
		descriptionHolder = $('<div></div>', {});
		// Loop and append description
		var descriptionLines = description.split("\n");
		console.log(descriptionLines);
		for(var i = 0; i < descriptionLines.length; i++) {
			descriptionHolder.append($('<p></p>', {}).append(document.createTextNode(descriptionLines[i])));
		}
		$('#club-description').empty().append(descriptionHolder);
	}
	// Change the group icon to the new icon
	if(icon !== null) {
		icon = icon === '' ? DEFAULT_CLUB_ICON : icon;
		$('#club-icon').attr('src', icon);
	}
}

function cancelClubEditing() {
	return function() {
		setBookInfo(club.displayName, null, club.description, club.icon);
		$('#edit-icon--buttons').empty();
		$('#edit-club--buttons').empty();
		$('#edit-icon').one('click', function() {
			showEditable(club.displayName, club.description);
		});
		$('#main-group--editable').css('display', 'none');
		$('#main-group--icon').css('display', 'flex');
		$('#main-group--info').css('display', 'flex');
	};
}

function showEditable(name, description) {
	//show main-group--editable;
	var nameInput = $('<input>', {class: 'title club-editable', id: 'edit-club-name', value: name, placeholder: 'Club name', type: 'text'});
	var nameWrapper = $('<div></div>', {class: 'wrapper'}).append(nameInput);
	var editableNameArea = $('<div></div>', {class: 'editable-area'}).append(nameWrapper);
	$('#club-title--editable').empty().append(editableNameArea);

	var descriptionInput = $('<textarea></textarea>', {class: 'description club-editable', id: 'edit-club-description'}).append(description);
	var descriptionWrapper = $('<div></div>', {class: 'wrapper'}).append(descriptionInput);
	var editableDesciptionArea = $('<div></div>', {class: 'editable-area'}).append(descriptionWrapper);
	$('#club-description--editable').empty().append(editableDesciptionArea); 
	// Create a change icon button
	// TODO: Use translation and update translations
	var input = $('<input>', {class: 'form-upload club-editable', type: 'file', name: 'group-icon', id: 'icon-upload--file'});
	var label = $('<label></label>', {class: 'btn club-editable', for: 'icon-upload--file' }).append('Change icon');
	var iconWrapper = $('<div></div>', {class: 'upload-btn', id: 'icon-upload'}).append(input).append(label);
	// <input type="file" id="avatar-upload--file" class="form-upload" name="avatar">
	$('#edit-icon--buttons').empty().append(iconWrapper);
	//create a save button

	var saveButton = $('<button></button>', {class: 'btn submit-btn'}).append('Save');
	var cancelButton = $('<button></button>', {class: 'btn cancel-btn'}).append('Cancel').on('click', cancelClubEditing());

	$('#edit-club--buttons').empty().append(cancelButton).append(saveButton);
		$('#main-group--icon').css('display', 'none');
		$('#main-group--info').css('display', 'none');
	$('#main-group--editable').css('display', 'flex');
	$('#cancel-edit').one('click', cancelClubEditing()).focus();
	//create a cancel button
}

$(document).ready(function() {
	$('#edit-icon').one('click', function() {
		console.log('editable now');
		showEditable('Editable name', 'Editable description\nOver multiple\nLines');
	});
});
</script>