<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet/less" href="../css/styles.less">
		<link rel="stylesheet/less" href="../css/group.less">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
		<link rel="icon" type="image/png" href="/prologes/img/favicon.png" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	</head>
		
	<body background="../img/regal.png">
			
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="#">
			<img src="../img/prologes.png" alt="logo" class="navlogo logo"/>
		</a>
		
<div class="collapse navbar-collapse" id="navbarCollapse">

	<ul class="navbar-nav navbar-right">
		<li class="nav-item">
			<a class="nav-link">
				<i class="material-icons icon-black">person</i>
			</a>
		</li>
		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
				  aria-expanded="false">
				<i class="material-icons icon-black">language</i>
			</a>
	<ul role="menu" class="dropdown-menu">
		<li>
			<a href="#">English</a>
		</li>
		<li>
			<a href="#">Español</a>
		</li>
	</ul>
		</li>
	</ul>
</div>
	</nav>	
		
		<!-- MAIN BODY -->
		<div class="container-fluid">

			<!-- Left panel (profile, members) -->
			<div class="col-md-3">
				<!-- Profile Section -->
				<section class="profile-section">
					
					<img class="profile-image center-block" src="../img/user_clear.png" alt="profile-image-alt">

					<button class="btn join-btn center-block">JOIN</button>
				</section>

				<!-- Members section -->
				<section>
					<h2 class="main-group--members">Members</h2>
					<div class="group--members">
						<!-- Sample member style -->
						<div class="group-member">
							<div class="icon">
								<img class="icon" src="../img/user_clear.png" alt="icon">
							</div>
							
							<div class="info">
								<span class="display-name"><a href="#"><div>User with long long name</div></a></span>
								<span class="user-name"><a href="#"><div>@mrIHaveAReallyLongName</div></a></span>
							</div>
						</div>

						<div class="group-member">
							<div class="icon">
								<img class="icon" src="../img/user_clear.png" alt="icon">
							</div>
							<div class="info">
								<div class="display-name"><a href="#"><div>Average user X</div></a></div>
								<span class="user-name"><a href="#"><div>@yourAverageUser</div></a></span>
							</div>
						</div>

						<div class="group-member">
							<div class="icon">
								<img class="icon" src="../img/user_clear.png" alt= "icon">
							</div>
							<div class="info">
								<div class="display-name"><a href="#"><div>Normal user</div></a></div>
								<span class="user-name"><a href="#"><div>@mrShortName</div></a></span>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Center panel (comments) -->
			<div class="col-md-6">
						
							<section class="main-group" id="main-group--info">
								<!-- Here the group info -->
								<div class="info-panel">
										<!-- -->
										<div class="title" id="club-title">
											<span>The Club's Name</span>
										</div>
										<div class="handle">
											<span>@theHandleOfTheGroup</span>
										</div>
										<div class="description" id="club-description">
											<p>A lengthy description</p>
											<p>That may span multiple lines</p>
											<p>Or not...</p>
										</div>
									</div>
							</section>

							<section>
								<div class="comment-area">
									<div class="comment-form">
										<div class="textarea-container">
											<textarea id="comment--textarea" placeholder="Write a comment..."></textarea>
											<div class="error-area" id="comment--error-area"></div>
										</div>
										<div class="actions-container">
											<i class="material-icons icon-black">chat</i>
										</div>
									</div>	
									<!--  -->
								</div>

								<div class="main-group--threads" id="main-group--threads">
									<!-- Here be the past threads -->
								</div>
							</section>
			</div>

			<!-- Right panel (books panels: reading|wishlist|read) -->
			<div class="col-md-3">

					<!-- Tab panel -->
					<div class="side-tab-panel">
						
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tab-reading" data-toggle="tab" id="tab-reading--anchor">Reading</a>
								</li>
								<li>
									<a href="#tab-wishlist" data-toggle="tab" id="tab-wishlist--anchor">Up Next</a>
								</li>
							</ul>
					
						<div class="tab-content">
							
							<!-- Currently reading-->
							<div id="tab-reading" class="tab-pane active fade in">
								
								<div class="reading-panel">
								
									<div class="title-reading text-center">
										Currently Reading
									
									<img class="book-image" src="../img/easychair_colour.png" alt= "book">
										
									<div class="info">
										<a href="#">Title of the book</a>
										<span class="author">Author</span>
									</div>
										
									<div class="panel-group">
  										<div class="panel">
    										<div class="panel-heading">
      											<h4 class="panel-title">
													<div class="what_else">
        												<a data-toggle="collapse" href="#else-reading-panel">See what else we are reading
															<i class="material-icons icon-black">keyboard_arrow_down</i>
														</a>
													</div>
      											</h4>	 
    										</div>
											
											<div id="else-reading-panel" class="panel-collapse collapse">

												<div class="what_else_list">
										<!-- what else we are also reading -->
										<div class="book">
											<div class="icon">
												<img src="../img/book_clear.png" alt= "book">
											</div>
											<div class="info">
												<span class="title">Title of the book</span>
												<span class="author">Author 1, Author 2</span>
											</div>
										</div>
										<!-- Sample books -->
										<div class="book">
											<div class="icon">
												<img src="../img/book_clear.png" alt= "book">
											</div>
											<div class="info">
												<span class="title">Title of the book</span>
												<span class="author">Author 1, Author 2</span>
											</div>
										</div>
										<!-- Sample books -->
										<div class="book">
											<div class="icon">
												<img src="../img/book_clear.png" alt= "book">
											</div>
											<div class="info">
												<span class="title">Title of the book</span>
												<span class="author">Author 1, Author 2</span>
											</div>
										</div>
										<!-- Sample books -->
										<div class="book">
											<div class="icon">
												<img src="../img/book_clear.png" alt= "book">
											</div>
											<div class="info">
												<span class="title">Title of the book</span>
												<span class="author">Author 1, Author 2</span>
											</div>
										</div>

									</div>
												
											</div>
  										</div>
									</div>
									
								</div>
							</div>
								
						</div>

					</div> 
					<!-- First reading -->
				</div>

			</div>
		</div>

	<!-- FOOTER -->
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					Prologes &copy; 2019 
					<ul class="pull-right list-inline">
						<li>
							<a href="about">About us</a>
						</li>
						<li>
							<a href="privacy">Terms and privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	</body>
</html>