.bookshelf-image {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
.row h1 {
  font-family: Lora;
  font-size: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.row p {
  font-family: Raleway;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-bottom: 20px;
}
.index-search {
  padding-bottom: 120px;
}
